/*
   ______               __              
  / __/ /_______ ______/ /___ _________ 
 _\ \/ __/ __/ // / __/ __/ // / __/ -_)
/___/\__/_/  \_,_/\__/\__/\_,_/_/  \__/ 

Sass starter kit v0.1
Alex Bezuska
@alexbezuska
github.com/alexbezuska

*/

// Main row/column system and  basic mediaQuery setup
@import "structure";

// Starter color kit (optional)
@import "colors";

//My own oppinionated defaults (optional)
@import "typography";

@import "jquery.countdown";

body {
  background: $background;
}

header .col1-2 {
  @include breakpoint(papa-bear) {
    text-align: left;
  }

  @include breakpoint(mama-bear) {
    text-align: center;
  }

  @include breakpoint(baby-bear) {
    text-align: center;
  }
}

h1 {
  font-family: "lcd";
}

.page {
  @include breakpoint(papa-bear) {
    width: 80%;
  }

  @include breakpoint(mama-bear) {
    width: 95%;
  }

  @include breakpoint(baby-bear) {
    min-width: 370px;
    max-width: 100%;
  }

  position: relative;
  background: $main;
  border: 10px solid lighten($main, 5%);
  color: white;
  margin: 50px auto;
}

a {
  color: white;
}

.sponsors {
  text-align: center;
  img {
    max-width: 160px;
    max-height: 120px;
  }
}

nav {
  ul {
    text-align: center;
    li {
      list-style-type: none;
      display: inline-block;
      padding: 10px 25px;
      margin: 0 15px;
      background: darken($main, 5%);
      a {
        text-decoration: none;
      }
      &:hover {
        background: lighten($main, 5%);
      }
      &:active {
        background: darken($main, 10%);
      }
    }
  }
}

footer {
  margin-top: 50px;
  text-align: center;
}

@include breakpoint(papa-bear) {
  width: 80%;
}


@include breakpoint(mama-bear) {
  width: 95%;
}


@include breakpoint(baby-bear) {
  min-width: 370px;
  max-width: 100%;
}