
 <h3> {{{title}}} </h3>
 <h4> {{{slogan}}} </h4>
 
   <h3>Create a game concept in 6 hours!</h3>
<p> "Wait what...? only 6 hours? I can't make a game in 6 hours, even 48 hours is usually cutting it close for even a simple game." <br/>
    #6HourGameJam is not about creating a normal jam game, this is about creating a very simple concept or single mechanic. Most importantly #6HourGameJam is to learn and stretch yourself! </p>
<h4>Is this a compitition?</h4>
<p> No, just for fun. </p>
<h4>Okay, what are the rules?</h4>
<p> <ul>
    <li>Everyone starts at 2pm(when the theme is unveiled) and ends at 8pm(EST)</li>
    <li>Work solo on your game, no teams.</li>
    <li>No existing/premade assets. (feel free to add those post-jam, but not in the version you submit!)</li>
    <li>You own your game, you just give #6HourGameJam the right to keep it on our site.</li>
    <li>You are free to make post-jam versions, make money etc <strong>You own your game</strong>.</li>
    <li>You must self host your game (itch.io / dropbox etc.)</li>
    <li>Be excellent to eachother.</li>
</ul></p>
  
 		
 




